* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
font-size: 20px;
font-style: italic;
font-weight: bold;
direction: ltr;
letter-spacing: 3px;
word-spacing: 10px;
line-height: 25px;
text-align: justify;
text-decoration: underline;
text-indent: 50px;
text-shadow: 0px 2px 2px red;
text-transform: lowercase;
}