* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.grid {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px; 
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    /*     width: 33.33%; */
    height: 300px;
    float: left;
    padding: 15px;
    
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: blue;
}
p{
    clear: both;
}


.menu {
    width: 100%;
    position: fixed;
    background: gray;
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: aliceblue;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 73px;
    height: 100vh;
    background: turquoise; 
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
}

@media all and (max-width: 411px) {
    .grid .col {
        width: 100%;
   
    }
    
}
@media all and (min-width: 412px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
   
    }
    
}
@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
   
    }
    
}
@media all and (min-width: 1201px)  {
    .grid .col {
        width: 25%;
   
    }
    
}