* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-conteiner {
    display: flex; /* se comporta como um block */
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    background: yellow;
    height: 600px;
}

.flex-item {
    width: 100%;
/*     flex-grow: 1;
    flex-basis: 320px; */
/*     flex: 1 1 320px; */
   /* margin-bottom: 2%;  */
/*     height: 200px; */
    color: white;
    background: red;
/*     margin: 10px; */
} 

.flex-item:nth-child(2) {
 /*    flex: 2 1 320px;
    background: palevioletred; */
    align-self: flex-end;
}
.flex-item:nth-child(3) {
     align-self: center;
}
.flex-item:nth-child(5) {
     align-self: stretch;
}

.flex-item:nth-child(3) {
    order: 2;
}

.flex-item:nth-child(2) {
    order: 1;
}